@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container
{
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .cards
{
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548 );
    margin: 10px;
}